extends layout

block content
	h1= title
	div(class="row ")
		div(class="col-md-6")
			section
				blockquote
					p Check de la configuration
				h4
					span(class="label label-default") Java 
						span(class="glyphicon glyphicon-remove")
				h4
					span(class="label label-default") Maven 
						span(class="glyphicon glyphicon-remove")
				h4
					span(class="label label-default") VLT 
						span(class="glyphicon glyphicon-remove")
