extends layout

block content
	h1= title
	div(class="row ")
		div(class="col-md-6")
			section
				blockquote
					p Check de la configuration
				each cmd in cmds
					div(id="check_" + cmd)
						header
							h4
								span(id="check_" + cmd + "_label", class="label label-default")= cmd  
									img(id="check_" + cmd + "_loading", src="images/loading.gif", class="hide")
						section(id="check_" + cmd + "_error")
					hr

