doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!-- Jquery -->
    script(src='//code.jquery.com/jquery-2.1.1.min.js')

    <!-- bootstrap -->
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

    <!-- socket.io -->
    script(src='/javascripts/socket.io.js')
        
  body
    nav(class="navbar navbar-inverse navbar-static-top", role="navigation")
        div(class="container")
            p(class="navbar-text") AEM Automator
            ul(class="nav navbar-nav navbar-right")
                if path === "/deploiement"
                    li(class="active") 
                        a Déploiement
                else
                    li 
                        a(href="/deploiement") Déploiement
                li
                    a() BackUp
                li
                    a() Vlt
                li(class="divider")
                if path === "/configuration"
                    li(class="active") 
                        a 
                            b Configuration
                else
                    li 
                        a(href="/configuration") 
                            b Configuration
                            img(id="nav_configuration")
    div(class="container")
        block content

    div(id="terminal")
        button(id="terminal_up", class="btn btn-success", type="button")
            span(class="glyphicon glyphicon-chevron-up")
        button(id="terminal_down", class="btn btn-success hide", type="button")
            span(class="glyphicon glyphicon-chevron-down")
        div(id="terminal_toolbar", class="btn-group hide")
            button(id="terminal_clean", class="btn btn-default", type="button") Nettoyer
            button(class="btn btn-default", type="button") Agrandir
        textarea(class="form-control hide", rows="15", disabled)
    
    script(src='/javascripts/app.js')
    script(src='/javascripts/io.js')
    script(src='/javascripts/terminal.js')